@import url('https://fonts.googleapis.com/css?family=Rubik');

html, body {
	height: 100%;
	margin: 0px;
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #222;
}
#nav-menu {
	width:100%;
	height: 95px;
	position: fixed;
	background-color: white;
	top: 0;
	left: 0;
}
#tabs-container {
	float:right;
	width: 90%;
}
#tabs {
	float:right;
	width: 85%;
	margin:auto;
	color: #2c2d30;
}
#tabs h2 {
	display: inline-block;
	margin-right: 5%;
	padding: 5px;
	border: 5px solid;
	-webkit-transition: background-color .67s;
    -moz-transition: background-color .67s;
    -o-transition: background-color .67s;
    transition: background-color .67s;
}
#tabs h2:hover {
	background-color: #00a651;
}
#header {
	height: 572px;
	background: url(http://i.imgur.com/DZOltpA.jpg) center top no-repeat;
	filter: grayscale(100%);
}
#me {
	border-radius:50%;
}
#name, #developer {
	color: white;
	margin: 0px 0px 0px 0px;
	padding-top: 10%;
   	font-size: 50px;
   	text-align: center;
}
.section {
	padding-top: 5%;
	width: 100%;
}
.section p, .section h2, .section h3, .section h4 {
	width: 80%;
	margin: 15px auto;
	line-height: 125%;
}
#projects {
	width: 85%;
    margin: 20px auto;
    text-align: center;
}
.project {
	margin: 10px;
	display: inline-block;
	box-shadow:0px 0px 25px #000000;
	height: 422px;
}
.project img {
	width: 750px;
    margin: auto;
}
.project h4 {
	margin-top: -45px;
	text-align: left;
	color: white;
}
.project a {
	text-decoration: none;
}
#experience-section p {
	margin-left: 15%;
}
#experience-section h2 {
	margin-bottom: 0px;
}
#experience-section h4 {
	margin-top: 5px;
}
.title {
	font-size: 60px;
	text-align: center;
	margin: auto;
	color: #00a651;
	width: 90%;
  	text-decoration: none;
  	border-bottom: 2px solid #bdb;
}
#about-section {
	height: 400px;
}
.bullet {
	display: list-item;
}
#projects-section {
	background-color: #2c2d30;
	height: 1100px;
}
#experience-section {
	height: 600px;
}
#contact-section {
	background-color: #2c2d30;
	height: 350px;
}
#my-icon {
	width: 85px;
    margin: 5px 0px 0px 5px;
}
#menu-icon {
	width: 85px;
    margin: 5px 0px 0px 5px;
    float: right;
}
#icons {
	margin: 15px auto;
	width: 85%;
	text-align: center;
}
#icons a img{
	width: 160px;
	margin: 5px;
}

@media(min-width: 768px) {
	#menu-icon {
		display: none;
	}
}
@media (max-width: 1000px) {
	#name {
		padding-top:20%;
	}
	#tabs-container {
		width:87%;
	}
	#tabs {
		width: 88%;
	}
	#tabs h2 {
		margin-right: 1%;
	}
	#projects-section {
		height: 550px;
	}
	.project {
		width: 300px;
		height: 168.75px;
	}
	.project img {
		width: 300px;
	}
}
@media (max-width: 768px) {
	#tabs-container {
		background-color: white;
		width: 100%;
	}
	#tabs{
		display:none;
	}
	#tabs h2 {
		display: block;
	}
	#menu-icon {
		display: inline-block;
	}
	#icons a img {
		width: 130px;
	}
}
@media screen
	and (max-width: 500px)
	and (max-device-width: 736px) {
	#name {
		padding-top:30%;
	}
	#my-icon {
		width: 65px;
	}
	#menu-icon {
		width: 65px;
	}
	#nav-menu {
		height: 75px;
	}
	#projects-section {
		height: 900px;
	}
	#experience-section {
		height: 750px;
	}
	#contact-section {
		height: 250px;
	}
	#icons a img{
		width: 60px;
	}
}
@media screen and (max-width: 350px) {
	.title {
		font-size: 52px;
	}
}